* {
  margin: 0%;
  padding: 0%;
}
body {
  height: 100vh;
  width: fit-content;
  background-color: white;
}

.logo {
  position: absolute;
  top: 60px;
  left: 50px;
}

.nav-items {
  color: #fe5e35;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  display: flex;
  font-size: 25px;
  margin-left: 500px;
  margin-top: 60px;
}

.nav-item1 {
  color: black;
  position: relative;
  left: 100px;
}

.nav-item2 {
  color: black;
  position: relative;
  left: 200px;
}

.nav-item3 {
  color: black;
  position: relative;
  left: 300px;
}

.list-image {
  position: absolute;
  top: 50px;
  left: 1300px;
}

.intro {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  display: flex;
  font-size: 50px;
  position: absolute;
  top: 200px;
  left: 50px;
}

.main-line {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 60px;
  position: absolute;
  top: 300px;
  left: 50px;
}

.headphone {
  height: 500px;
  position: absolute;
  top: 150px;
  left: 1100px;
}

.discount {
  height: 150px;
  position: absolute;
  top: 420px;
  left: 1050px;
  z-index: 1;
}

.dis {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  color: aliceblue;
  font-size: large;
  position: absolute;
  top: 455px;
  left: 1090px;
  z-index: 2;
}

.dis50 {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  color: aliceblue;
  font-size: 50px;
  position: absolute;
  top: 470px;
  left: 1090px;
  z-index: 2;
}

.sub-headlines {
  color: #313131;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 400px;
  left: 150px;
}

.text {
  color: slategrey;
  position: absolute;
  top: 600px;
  left: 50px;
  font-family: "Poppins";
  font-style: normal;
}

.action-btns {
  position: absolute;
  top: 750px;
  padding: 10px;
}

.action-btn1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  color: aliceblue;
  font-size: 20px;
  border: 0ch;
  padding: 15px 25px;
  border-radius: 50px;
  background-color: #fe5e35;
  margin: 5px 50px;
}

.action-btn2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  border-radius: 50px;
  font-display: swap;
  color: aliceblue;
  font-size: 20px;
  border: 0ch;
  padding: 15px 25px;
  background-color: #fe5e35;
  margin-left: 700px;
}

.dots {
  display: flex;
  flex-direction: row;

  width: fit-content;
  position: absolute;
  top: 650px;
  left: 1285px;
}
.dot {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  margin: 5px 5px 5px 5px;
}

.yellow-dot {
  background-color: yellow;
}

.tomato-dot {
  background-color: red;
}

.circle {
  height: 50px;
  position: relative;
  left: 20px;
  top: 7px;
}

.plus {
  background-color: #fe5e35;
  border-radius: 50%;
}

/* MEDIA QUERY */
@media screen and (max-width: 420px) {
  * {
    margin: 0%;
    padding: 0%;
  }

  body {
    height: 100vh;
    background-color: white;
  }

  .logo {
    position: absolute;
    top: 60px;
    left: 50px;
  }

  .nav-items {
    color: #fe5e35;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    display: flex;
    font-size: 25px;
    margin-left: 500px;
    margin-top: 60px;
  }

  .nav-item1 {
    color: black;
    position: relative;
    left: 100px;
  }

  .nav-item2 {
    color: black;
    position: relative;
    left: 200px;
  }

  .nav-item3 {
    color: black;
    position: relative;
    left: 300px;
  }

  .list-image {
    position: absolute;
    top: 50px;
    left: 1300px;
  }

  .intro {
    font-family: "Poppins";
    width: 1600px;
    text-align: center;
    font-style: normal;
    font-weight: 200;
    font-size: 200px;
  }

  .main-line {
    font-family: "Fredoka One";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 100px;
    position: absolute;
    top: 500px;
    left: 100px;
  }

  .headphone {
    height: 700px;
    position: absolute;
    top: 1500px;
    left: 500px;
  }

  .discount {
    height: 300px;
    position: absolute;
    top: 1500px;
    left: 400px;
    z-index: 1;
  }

  .dis {
    font-family: "Fredoka One";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    color: black;
    font-size: 50px;
    position: absolute;
    top: 1570px;
    left: 450px;
    z-index: 2;
  }

  .dis50 {
    font-family: "Fredoka One";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    color: black;
    font-size: 50px;
    position: absolute;
    top: 1650px;
    left: 480px;
    z-index: 2;
  }

  .sub-headlines {
    color: #313131;
    width: 1200px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 800px;
    left: 100px;
  }

  .text {
    color: slategrey;
    position: absolute;
    width: max-content;
    top: 1100px;
    left: 100px;
    font-family: "Poppins";
    font-style: normal;
    font-size: 25px;
  }

  .action-btns {
    position: absolute;
    width: max-content;
    top: 1300px;
    padding: 20px;
  }

  .action-btn1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    color: aliceblue;
    font-size: 30px;
    border: 0ch;
    padding: 15px 25px;
    border-radius: 50px;
    background-color: #fe5e35;
    margin: 5px 50px;
  }

  .action-btn2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    border-radius: 50px;
    font-display: swap;
    color: aliceblue;
    font-size: 30px;
    border: 0ch;
    padding: 15px 25px;
    background-color: #fe5e35;
    margin-left: 700px;
  }

  .dots {
    display: flex;
    flex-direction: row;

    width: fit-content;
    position: absolute;
    top: 2100px;
    left: 1285px;
  }
  .dot {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    margin: 5px 5px 5px 5px;
  }

  .yellow-dot {
    background-color: yellow;
  }

  .tomato-dot {
    background-color: red;
  }

  .circle {
    height: 50px;
    position: relative;
    left: 20px;
    top: 7px;
  }

  .plus {
    background-color: #fe5e35;
    border-radius: 50%;
  }
}
